---
import Layout from "../layouts/Layout.astro";
import ListOfPosts from "../components/ListOfPosts.astro";
import ListOfUsers from "../components/ListOfUsers.astro";
import { getNumberOfPostsByUserId } from "../lib/posts";
import { getNumberOfFollowersByUserId } from "../lib/followers";
import { getNumberOfLikesByUserId } from "../lib/likes";

const user = await Astro.locals.currentUser();

if (!user) {
  return Astro.redirect("/sign-in");
}

const { id, username, imageUrl, createdAt } = user;
const createdAtDate = new Date(createdAt);
const formattedDate = createdAtDate.toLocaleDateString("es-MX", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
const numberOfPosts: number = getNumberOfPostsByUserId(id);
const numberOfFollowers: number = getNumberOfFollowersByUserId(id);
const numberOfLikes: number = getNumberOfLikesByUserId(id);

---

<Layout title="Scriptia - Mi Perfil" activeTab="profile">
  <div class="flex gap-4 lg:gap-8 ring-1 ring-red-300/60 p-4 rounded-lg">
    <img
      class="size-16 lg:size-24 rounded-full mt-4 lg:mt-0"
      src={imageUrl}
      alt={username}
    />
    <div class="flex flex-col gap-2">
      <h2
        class="text-xl lg:text-2xl text-red-400/60 font-bold font-display uppercase"
      >
        @{username}
      </h2>
      <p class="text-neutral-100 text-sm flex gap-2 items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="hidden lg:block size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"
          ></path>
        </svg>
        Miembro desde el {formattedDate}
      </p>
      <div class="flex flex-wrap gap-x-8 gap-y-2 mt-1">
        <p
          class="text-neutral-100 text-sm flex flex-col lg:flex-row gap-1 lg:items-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="hidden lg:block size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5"
            ></path>
          </svg>
          <label class="text-red-300">{numberOfPosts}</label>
          {numberOfPosts === 1 ? "publicación" : "publicaciones"}
        </p>
        <p
          class="text-neutral-100 text-sm flex flex-col lg:flex-row gap-1 lg:items-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="hidden lg:block size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
            ></path>
          </svg>
          <label class="text-red-300">{numberOfFollowers}</label>
          {numberOfFollowers === 1 ? "seguidor" : "seguidores"}
        </p>
        <p
          class="text-neutral-100 text-sm flex flex-col lg:flex-row gap-1 lg:items-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="hidden lg:block size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
            ></path>
          </svg>
          <label class="text-red-300">{numberOfLikes}</label>
          me gusta
        </p>
      </div>
    </div>
  </div>
  <h3
    class="text-indigo-400 font-display text-xl lg:text-2xl font-bold mt-4 uppercase"
  >
    Mis publicaciones
  </h3>
  <ListOfPosts
    userId={id}
    method="profile"
    server:defer
  />
  <h3
    class="text-indigo-400 font-display text-xl lg:text-2xl font-bold mt-4 uppercase"
  >
    Mis seguidores
  </h3>
  <ListOfUsers
    userId={id}
    method="followers"
    server:defer
  />
  <h3
    class="text-indigo-400 font-display text-xl lg:text-2xl font-bold mt-4 uppercase"
  >
    Mis seguidos
  </h3>
  <ListOfUsers
    userId={id}
    method="following"
    server:defer
  />
</Layout>
